.page{
    margin-top: 50px;
}
.button{
    background-color: rgb(189, 184, 178);
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    height: 40px;
}
.imgs img{
    width: 40%;

}
.imgs{
    margin: 20px;
    
}
.imgs:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}